<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/netflix_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/netflix_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.NetFlix"
        tools:targetApi="31">

        <activity
            android:name=".View.TelaNortificacao"
            android:exported="false" />
        <activity
            android:name=".View.TelaPerfilPrincipal"
            android:exported="true" />
        <activity
            android:name=".View.TelaLogin"
            android:exported="true" />
        <activity
            android:name=".View.TelaAviso"
            android:exported="true" />
        <activity
            android:name=".View.TelaAnime"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".View.TelaApresentacao"
            android:exported="true" />
        <activity
            android:name=".View.TelaRegistro"
            android:exported="true" />
        <activity
            android:name=".View.TelaPerfil"
            android:exported="true" />
        <activity
            android:name=".View.TelaPrincipal"
            android:exported="true" />
        <activity
            android:name=".View.TelaApresentaKono"
            android:exported="true" />

        <activity android:name=".View.TelaApresentarGtaSeis"
            android:exported="true"/>

        <activity android:name=".View.TelaCheiaGtaSeis"
            android:exported="true"/>
        <activity android:name=".View.TelaApresentaRick"
            android:exported="true"/>

    </application>


</manifest>